body {

    background-color: #7d9793;
}

#title {
    font-size: 60px;
    margin: 5% 5%;
    text-align: center;
    border: 5px #000;
    color: #000000;
}

#loginDiv {
    width: 30%;
    margin-left: 20%;
    padding: 50px;
    background-color: #3e7059;
    border-radius: 20px;

}

#regDiv {
    width: 30%;
    height: 200px;
    margin-left: 20%;
    padding: 100px;
    background-color: #3e7059;
    border-radius: 20px;
}

.buttons {
    font-size: 20px;
    border-radius: 20px;
}

.buttons:hover {
    background-color: #395f48;
    color: #FFFFFF;
    opacity: 20%;
}

input[type="text"],
input[type="password"] {
    border-radius: 30px;
    text-align: center;
    /*location*/
    margin-left: 20%;
    margin-bottom: 2%;
    width: 100%;
}

#loginName {
    font-size: 30px;
}

#registerPass {
    font-size: 30px;
}

#registerName {
    font-size: 30px;
}

#loginPass {
    font-size: 30px;
}