body
{
     
background-color: #7d9793;
}

#title
{
font-size: 60px;
margin: 5% 5%;
text-align: center;
border: 5px #000;
color: #000000;
}
/* This contains the boxes where users insert log in info */
#loginDiv
{
    width: 30%;
    height: 50px;
    margin-left: 20%;
    padding: 15%;
    background-color: #3e7059;
    border-radius: 20px;

}
#credentials
{
    font-size: 30px;
}

.buttons
{
 font-size: 20px;
 border-radius: 20px;
}

.buttons:hover
{
background-color: #FFFFFF;
color: #FFFFFF;
opacity: 20%;
}

input[type="text"], input[type="password"]{
    border-radius: 30px;
    text-align: center;
    /*location*/
    margin-left: 20%;
    margin-bottom: 2%;
    width: 100%;
}


